body {

  font-size: 20px;
}

.contact {
  background: yellow;
    min-width: 200px;
    max-width: 500px;
}

input {
  width: 300px !important;
  font-size: 25px !important;
}

.btn {
  margin: 10px;
}

.deleteBtn {
  padding-left: 15px;
  padding-right: 15px;
}
